{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^(next$|next/(.*)$)",
    "^next-(.*)$",
    "^@?\\w",
    "^~/components/ui/",
    "^~/components/",
    "^~/lib/",
    "^~/assets/",
    "^~/styles/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
