{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^(next$|next/(.*)$)",
    "^next-(.*)$",
    "^@tanstack/(.*)$",
    "^@radix-ui/(.*)$",
    "^@?\\w(?!.*~).*$",
    "^~/components/ui/",
    "^~/components/",
    "^~/server/",
    "^~/types/",
    "^~/lib/",
    "^~/hooks/",
    "^~/assets/",
    "^~/styles/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
