/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --planted: 45.4 93.4% 47.5%; /* yellow-500 */
    --seedling: 292.2 84.1% 60.6%; /* fuchsia-500 */
    --vegetation: 142.1 76.2% 36.3%; /* green-600 */
    --flowering: 349.7 89.2% 60.2%; /* rose-500 */
    --harvest: 24.6 95% 53.1%; /* orange-500 */
    --curing: 217.2 91.2% 59.8%; /* blue-500 */

    --background: 0 0% 92%; /* Slightly darker than before */
    --foreground: 240 10% 20%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 20%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 20%;
    --primary: 120 61% 34%;
    --primary-foreground: 240 4.8% 95.9%;
    --secondary: 16 100% 42%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 16% 94%;
    --muted-foreground: 240 3.8% 42%;
    --accent: 120 64% 32%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 56%;
    --destructive-foreground: 240 4.8% 95.9%;
    --border: 120 16% 72%;
    --input: 120 16% 72%;
    --ring: 120 61% 34%;
    --radius: 0.5rem;
    --navbar-background: 0 0% 98%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 10% 20%;
    --sidebar-primary: 120 61% 34%;
    --sidebar-primary-foreground: 240 4.8% 95.9%;
    --sidebar-accent: 120 64% 32%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 120 16% 64%;
    --sidebar-ring: 120 61% 34%;
  }
  .dark {
    --planted: 35.5 91.7% 32.9%; /* yellow-500 */
    --seedling: 292.2 84.1% 60.6%; /* fuchsia-500 */
    --vegetation: 142.1 76.2% 36.3%; /* green-600 */
    --flowering: 349.7 89.2% 60.2%; /* rose-500 */
    --harvest: 24.6 95% 53.1%; /* orange-500 */
    --curing: 217.2 91.2% 59.8%; /* blue-500 */

    --background: 220 14% 8%;
    --foreground: 0 0% 98%;
    --card: 220 14% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 220 14% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 114 64% 28%;
    --primary-foreground: 0 0% 86%;
    --secondary: 20.5 90.2% 48.2%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 20% 8%;
    --muted-foreground: 240 5% 54%;
    --accent: 120 42% 22%;
    --accent-foreground: 0 0% 86%;
    --destructive: 0 80% 56%;
    --destructive-foreground: 0 0% 86%;
    --border: 120 16% 18%;
    --input: 120 16% 28%;
    --ring: 120 61% 54%;
    --navbar-background: 220 14% 6%;
    --sidebar-background: 220 14% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 114 64% 28%;
    --sidebar-primary-foreground: 240 10% 20%;
    --sidebar-accent: 120 42% 22%;
    --sidebar-accent-foreground: 0 0% 86%;
    --sidebar-border: 120 16% 18%;
    --sidebar-ring: 114 64% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Remove the default focus styles */
*:focus {
  outline: none;
}

/* Add your custom focus styles */
*:focus-visible {
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}
.custom-scrollbar-container {
  position: relative;
  padding-bottom: 4px;
  margin-bottom: -4px; /* Compensate for the padding */
}

.custom-scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary) / 0.7);
  border-radius: calc(var(--radius) * 0.25);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--primary));
}

/* Specific adjustments for Firefox */
@supports (scrollbar-width: thin) {
  .custom-scrollbar-container {
    overflow: hidden;
  }

  .custom-scrollbar {
    /* direction: rtl; */
    margin-bottom: -4px; /* Pull the scrollbar up in Firefox */
    padding-bottom: 0px; /* Add padding to reveal the scrollbar */
  }
}
