/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --planting: 45 93.4% 47.5%; /* yello-400 */
    --seedling: 293 69.5% 48.8%; /* fuchsia-600 */
    --vegetation: 142 76.2% 36.3%; /* green-600 */
    --flowering: 350 89.2% 60.2%; /* rose-600 */
    --harvest: 25 95% 53.1%; /* orange-500 */
    --curing: 221 83.2% 53.3%; /* blue-600 */

    --background: 0 0% 95%;
    --foreground: 240 10% 20%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 20%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 20%;
    --primary: 120 61% 34%;
    --primary-foreground: 240 4.8% 95.9%;
    --secondary: 12 98% 64%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 120 61% 34% / 0.66;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 56%;
    --destructive-foreground: 240 4.8% 95.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 120 61% 34%;
    --radius: 0.5rem;
    --navbar-background: 0 0% 98%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 10% 20%;
    --sidebar-primary: 120 61% 34%;
    --sidebar-primary-foreground: 240 4.8% 95.9%;
    --sidebar-accent: 120 61% 34% / 0.66;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 120 61% 34%;
  }
  .dark {
    --planting: 293 69.5% 48.8%; /* fuchsia-600 */
    --seedling: 48 95.8% 53.1%; /* yello-400 */
    --vegetation: 142 76.2% 36.3%; /* green-600 */
    --flowering: 350 89.2% 60.2%; /* rose-600 */
    --harvest: 38 92.1% 50.2%; /* amber-600 */
    --curing: 221 83.2% 53.3%; /* blue-600 */

    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 7.8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 7.8%;
    --popover-foreground: 0 0% 98%;
    --primary: 114 64% 28%;
    --primary-foreground: 0 0% 86%;
    --secondary: 12 92% 58%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 114 64% 28% / 0.33;
    --accent-foreground: 240 5% 64.9%;
    --destructive: 0 80% 52%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 114 64% 28%;
    --navbar-background: 0 0% 98%;
    --sidebar-background: 240 10% 7.8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 114 64% 28%;
    --sidebar-primary-foreground: 240 10% 20%;
    --sidebar-accent: 114 64% 28% / 0.33;
    --sidebar-accent-foreground: 240 5% 64.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 114 64% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Remove the default focus styles */
*:focus {
  outline: none;
}

/* Add your custom focus styles */
*:focus-visible {
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}
