@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.93 0.03 85.56);
  --foreground: oklch(0.41 0.08 78.87);
  --card: oklch(0.92 0.04 84.58);
  --card-foreground: oklch(0.41 0.08 74.05);
  --popover: oklch(0.92 0.04 84.58);
  --popover-foreground: oklch(0.41 0.08 74.05);
  --primary: oklch(0.6 0.16 141.98);
  --primary-foreground: oklch(0.98 0.01 1.98);
  --secondary: oklch(0.76 0.17 57.7);
  --secondary-foreground: oklch(0.98 0.01 1.98);
  --muted: oklch(0.86 0.06 82.95);
  --muted-foreground: oklch(0.51 0.08 74.79);
  --accent: oklch(0.86 0.05 85.13);
  --accent-foreground: oklch(0.41 0.08 74.05);
  --destructive: oklch(0.63 0.24 29.21);
  --destructive-foreground: oklch(0.97 0.02 351.14);
  --border: oklch(0.74 0.06 79.65);
  --input: oklch(0.91 0.05 82.79);
  --ring: oklch(0.6 0.16 141.98);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.7 0.12 183.6);
  --chart-3: oklch(0.48 0.08 211.31);
  --chart-4: oklch(0.84 0.17 85);
  --chart-5: oklch(0.74 0.17 59.96);
  --sidebar: oklch(0.92 0.04 84.58);
  --sidebar-foreground: oklch(0.41 0.08 74.05);
  --sidebar-primary: oklch(0.6 0.16 141.98);
  --sidebar-primary-foreground: oklch(0.98 0.01 1.98);
  --sidebar-accent: oklch(0.86 0.05 85.13);
  --sidebar-accent-foreground: oklch(0.41 0.08 74.05);
  --sidebar-border: oklch(0.74 0.06 79.65);
  --sidebar-ring: oklch(0.6 0.16 141.98);
  --font-sans:
    var(--font-nunito), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  --font-heading: var(--font-grandstander), Georgia, serif;
  --font-serif: Merriweather, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}

.dark {
  --background: oklch(0.17 0.02 87.73);
  --foreground: oklch(0.95 0.02 87.51);
  --card: oklch(0.2 0.03 82.37);
  --card-foreground: oklch(0.95 0.02 87.51);
  --popover: oklch(0.2 0.03 82.37);
  --popover-foreground: oklch(0.86 0.05 85.13);
  --primary: oklch(0.57 0.19 141.69);
  --primary-foreground: oklch(0.95 0.02 87.51);
  --secondary: oklch(0.67 0.22 37.95);
  --secondary-foreground: oklch(0.98 0.01 1.98);
  --muted: oklch(0.22 0.03 79.07);
  --muted-foreground: oklch(0.57 0.09 76.9);
  --accent: oklch(0.37 0.06 76.03);
  --accent-foreground: oklch(0.86 0.05 85.13)
    --destructive: oklch(0.63 0.24 29.21);
  --destructive-foreground: oklch(0.97 0.02 351.14);
  --border: oklch(0.37 0.06 76.03);
  --input: oklch(0.37 0.06 76.03);
  --ring: oklch(0.57 0.19 141.69);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.7 0.12 183.6);
  --chart-3: oklch(0.48 0.08 211.31);
  --chart-4: oklch(0.84 0.17 85);
  --chart-5: oklch(0.74 0.17 59.96);
  --sidebar: oklch(0.2 0.03 82.37);
  --sidebar-foreground: oklch(0.95 0.02 87.51);
  --sidebar-primary: oklch(0.57 0.19 141.69);
  --sidebar-primary-foreground: oklch(0.95 0.02 87.51);
  --sidebar-accent: oklch(0.37 0.06 76.03);
  --sidebar-accent-foreground: oklch(0.86 0.05 85.13)
    --sidebar-border: oklch(0.37 0.06 76.03);
  --sidebar-ring: oklch(0.57 0.19 141.69);
  --font-sans:
    var(--font-nunito), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Apply Grandstander to all heading elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
